body {

}
.content {
  margin-top: 60px;
}
.personality-quiz h3 {
  margin-bottom: 20px;
}
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.chart {
  background: #E1F5FE;
  margin-right: -10px:
}
.chartTop {
  padding-top: 20px;
}
.chartLabel {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}
.chartLabelLeftValue {
  color: #039BE5;
}
.chartLabelRightValue {
  color: #0D47A1;
}
.quiz {
  text-align: center;
}
.trait {
  font-size: 22px;
}
.btn-quiz {
  width: 500px;
  margin-bottom: 10px:
}
.btn-default:active {
  background: #fff;
}
