<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <title></title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="navbar.css" rel='stylesheet'>
  <link href="common.css" rel='stylesheet'>
  <link href="app.css" rel='stylesheet'>
</head>
<body>


  <!-- NAVBAR -->


  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="images/logo-80.png"></a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
        </ul>
      </div>

    </div>
  </nav>


  <!-- CONTENT -->

  <div class="container content personality-quiz">
    <div class="row">

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6 chart chartTop">
            <canvas id="jpChart" width="150" height="150"></canvas>
            <div class="chartLabel">
              <span class="chartLabelLeftValue">JUDGING</span>
              <span class="chartLabelRightValue">PERCEIVING</span>
            </div>
          </div>
          <div class="col-md-6 chart chartTop">
            <canvas id="ftChart" width="150" height="150"></canvas>
            <div class="chartLabel">
              <span class="chartLabelLeftValue">FEELING</span>
              <span class="chartLabelRightValue">THINKING</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 chart">
            <canvas id="ieChart" width="150" height="150"></canvas>
            <div class="chartLabel">
              <span class="chartLabelLeftValue">INTROVERSION</span>
              <span class="chartLabelRightValue">EXTROVERSION</span>
            </div>
          </div>
          <div class="col-md-6 chart">
            <canvas id="snChart" width="150" height="150"></canvas>
            <div class="chartLabel">
              <span class="chartLabelLeftValue">SENSING</span>
              <span class="chartLabelRightValue">INTUITION</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 quiz">
        <h3 class="first">Question {{ questionNumber }} of 32</h3>
        Select the option that most closely describes yourself.<br><br>
        <div class="trait">{{ question.trait1 }}</div>
        <br>
        <button type="button" class="btn btn-default btn-large btn-quiz" v-on:click.stop="handleAnswer(1)" >usually {{question.trait1}}</button>
        <br>
        <button type="button" class="btn btn-default btn-large btn-quiz" v-on:click.stop="handleAnswer(2)" >sometimes {{question.trait1}}</button>
        <br>
        <button type="button" class="btn btn-default btn-large btn-quiz" v-on:click.stop="handleAnswer(3)" >neither</button>
        <br>
        <button type="button" class="btn btn-default btn-large btn-quiz" v-on:click.stop="handleAnswer(4)" >sometimes {{question.trait2}}</button>
        <br>
        <button type="button" class="btn btn-default btn-large btn-quiz" v-on:click.stop="handleAnswer(5)" >usually {{question.trait2}}</button>
        <br><br>
        <div class="trait">{{ question.trait2 }}</div>
        <br>
        <br>
        Results:<br><br>
        IE - {{results.IE}}<br>
        SN - {{results.SN}}<br>
        FT - {{results.FT}}<br>
        JP - {{results.JP}}<br><br>

        Scores:<br><br>
        IE - {{scores.IE}}<br>
        SN - {{scores.SN}}<br>
        FT - {{scores.FT}}<br>
        JP - {{scores.JP}}<br><br>
      </div>

    </div>
  </div>



  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.14/vue.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</body>
</html>
