.navbar {
  margin-bottom: 0px;
  padding: 5px 0;
}
.navbar-brand {
  padding: 0 15px 0 25px;
  margin-top: 2px;
}
.navbar-brand img {
  width: 50px;
}
.navbar-nav>li>a {
  padding-top: 10px;
}
.navbar-default,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  background: #E1F5FE;
  border: none;
}
.navbar-default .navbar-nav>li>a  {
  color: #0288D1;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #0D47A1;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background: #E1F5FE;
  color:  #0D47A1;
  text-decoration: underline;
}
.nav .open>a,
.nav .open>a:focus, .nav .open>a:hover,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  background: #E1F5FE;
}
.dropdown-menu {
  background: #E1F5FE;
}
.dropdown-menu>li>a {
  color: #039BE5;
}
.dropdown-menu>li>a:hover {
  background: #E1F5FE;
  color:  #0D47A1;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: #039BE5;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: #0D47A1;
}
@media(min-width:768px){
  .navbar-nav>li>a {
    padding-top: 18px;
  }
}
